EXPO_PUBLIC_API_URL=https://dev.vinovoss.com/api/v2
EXPO_PUBLIC_DISCOURSE_API_URL=https://dev.vinovoss.com/api/v2/discourse
EXPO_PUBLIC_AUTO_SUGGEST_API_URL=https://dev.vinovoss.com/auto-suggest/v1
EXPO_PUBLIC_ADMIN_API_URL=https://dev.crm.vinovoss.com

DARK_MODE=class